<header class="header-style-1">
    <div class="header-topbar topbar-style-1">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <!--<div class="col-xl-8 col-lg-8 col-sm-6">
                    <div class="header-contact text-center text-sm-start text-lg-start">
                        <a href="#">1010 Moon ave, New York, NY US</a>
                    </div>
                </div>-->

                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class="header-socials text-center text-lg-end">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-navbar navbar-sticky">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="site-logo">
                    <a routerLink="/" class="cursor-pointer">
                        <svg height="32.5px" viewBox="0 0 474.6404 173.7">
                            <path fill="#001432"
                                  d="M59.5399,97.3c-6.8-3.8-14.3-6.3-22-7.4l-.8-.1c-2.9-.3-5.8-.8-8.7-1.4-5-1.2-6.9-4.1-7.6-6.4-.9-3.2-.2-6.7,1.9-9.3,2.6-2.9,6.7-4.3,11.9-4.3h1.9c7,.4,12.3,3.7,18.1,7.5l.6,.4c1.2,.8,2.7,1.2,4.1,1.2,2.7,0,5.2-1.3,6.6-3.5,2.2-3.7,1.2-8.5-2.4-11-7.8-6-17.2-9.4-27-9.6h-.6c-7.9-.2-15.7,2.1-22.3,6.5-6.7,5-10.6,12.1-10.6,19.5,.1,7.5,4.2,14.5,10.7,18.2,5.6,4,13,5.8,20.1,7.1l.9,.3c9.5,1.6,14,3.8,16.1,5.4,2.4,1.6,3.9,4.2,4,7.1-.1,3.2-1.7,6.2-4.4,8-3.9,2.9-8.8,4.5-13.7,4.4-7.5,0-15.4-3-23.5-9-1.4-1.2-3.2-1.8-5-1.8-2.4,0-4.6,1.1-6.1,2.9-2.7,3.2-2.2,8,1.1,10.7h0c10.5,8.4,21.8,12.7,33.5,12.9,8.3,.1,16.5-2.5,23.2-7.5l.1-.1c7.3-5.5,11.1-12.5,11.1-20,.1-12.4001-7-18.3-11.2-20.7Z"></path>
                            <path fill="#001432"
                                  d="M158.7399,129.7l-25.8-31.8,18.2-18.1c3.3-3.3,3.4-8.7,.1-12l-.3-.3h0c-3.3-3.3-8.6-3.4-12-.1l-.1,.1-33,32.8V41.4c-.1-4.8-4-8.6-8.8-8.6h0c-4.7,.1-8.5,3.9-8.6,8.6v94.6c0,4.8,3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7v-11.2l14.6999-14.6,24.7,30.4c2.9,3.7,8.3,4.3,12,1.3,.1-.1,.2-.2,.3-.2h0c3.7-2.9,4.3-8.2,1.4-11.9-.1,0-.2,0-.2-.1Z"></path>
                            <path fill="#001432"
                                  d="M368.7399,69.4c-4.8-.2-8.8,3.5-9,8.3v29.1c.1,1,.1,2,0,3-.8,12-11.2,21-23.2,20.2s-21-11.2-20.2-23.2v-29.1c0-4.8-3.9-8.6-8.6-8.6-4.8,0-8.6,3.9-8.6,8.6v29.1c0,21.5,17.4,38.9,38.9,38.9h0c21.5,0,38.9-17.4,38.9-38.9v-29.1c-.1-4.5-3.7-8.1-8.2-8.3Z"></path>
                            <path fill="#001432"
                                  d="M436.9399,69.3c-8.5-.1-16.3,2.5-22.8,7.1-.7-4-4.1-7-8.3-7h-.4c-4.7-.1-8.5,3.7-8.6,8.4v87.2c0,4.8,3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7v-25.9c6.1,4.3,13.5,6.9,21.5,7,21.3,.1,38.7-17,38.9-38.4,.0999-21-16.7001-38.1-37.7001-38.4Zm.1,59.6c-11.7,.3-21.4-8.9-21.7-20.6s8.9-21.4,20.6-21.7h0c11.8-.2,21.6,9.3,21.7,21.1,0,11.5-9.2,20.9-20.6,21.2Z"></path>
                            <path fill="#ffd75d"
                                  d="M220.7399,136c0,4.8,3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7V40.3l-17.4,16.8v78.9h0Z"></path>
                            <path fill="#ffd75d"
                                  d="M178.9399,136c0,4.8,3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7v-55.2l-17.4,16.8v38.4h0Z"></path>
                            <path fill="#ffd75d"
                                  d="M262.4399,16.9v120.4c0,4.8,3.9,8.7,8.7,8.7s8.7-3.9,8.7-8.7V0l-17.4,16.9Z"></path>
                            <path fill="#ffd75d"
                                  d="M196.8399,41.4c0,5.1-4.2,9.3-9.3,9.3s-9.3-4.2-9.3-9.3,4.2-9.3,9.3-9.3c5.2,0,9.3,4.2,9.3,9.3h0"></path>
                        </svg>
                    </a>
                </div>

                <div class="offcanvas-icon d-block d-lg-none">
                    <a href="#" class="nav-toggler"><i class="fal fa-bars"></i></a>
                </div>

                <div class="header-category-menu d-none d-xl-block">
                    <ul>
                        <li class="has-submenu">
                            <a><i class="fa fa-th me-2"></i>Categories</a>
                            <ul class="submenu">
                                <li *ngFor="let category of categories"><a
                                        (click)="search(category.nom)">{{category.nom | uppercase}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <nav class="site-navbar ms-auto">
                    <ul class="primary-menu">
                        <li class="current">
                            <a routerLink="">Home</a>
                        </li>

                        <li>
                            <a routerLink="/courses" [queryParams]="{ category: '', searchBy: '' }">Courses</a>
                        </li>


                        <li>
                            <a routerLink="/contact">Contact</a>
                        </li>
                    </ul>

                    <a href="#" class="nav-close"><i class="fal fa-times"></i></a>
                </nav>

                <div class="header-btn d-none d-xl-block" *ngIf="!isLoggedIn()">
                    <a routerLink="/login" class="login">Login</a>
                    <a routerLink="/signup" class="btn btn-main-2 btn-sm-2 rounded">Sign up</a>
                </div>

                <div class="header-btn d-none d-xl-block" *ngIf="isLoggedIn()">
                    <div *ngIf="role != 'ADMIN'" class="d-flex align-items-center">
                        <img *ngIf="user.img == null" src="assets/imgProfile.jpg"
                             (click)="navigateToBack()"
                             class="user-img cursor-pointer" alt=" ">

                        <img *ngIf="user.img != null" src="assets/user-photos/{{user.img}}"
                             (click)="navigateToBack()"
                             class="user-img cursor-pointer" alt=" ">
                        <a class="btn btn-main-2 btn-sm-2 rounded" (click)="disconnect()">Log out</a>
                    </div>

                    <div *ngIf="role == 'ADMIN'" class="d-flex align-items-center">
                        <img src="assets/imgProfile.jpg"
                             routerLink="/dashboard/stats"
                             class="user-img cursor-pointer" alt=" ">
                        <a class="btn btn-main-2 btn-sm-2 rounded" (click)="disconnect()">Log out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
