<section class="section-padding page">
    <div class="blog-area pd-top-120 pd-bottom-120">
        <div class="container">
            <div class="row">

                <!-- Nav-Bar-Filter -->
                <div class="col-lg-4 order-lg-1 col-12">
                    <div class="td-sidebar mt-5 mt-lg-0">
                        <div class="widget widget_search_course">
                            <h4 class="widget-title">Search</h4>
                            <form class="search-form single-input-inner">
                                <input type="text" placeholder="Search here">
                                <button class="btn btn-main-2 btn-sm-2 rounded"type="submit" style="width: 100%;margin-top: 10px"><i class="fa fa-search"></i>
                                    SEARCH</button>
                            </form>
                        </div>
                        <div class="widget widget_catagory">
                            <h4 class="widget-title">Catagory</h4>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Select a category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="widget widget_checkbox_list">
                            <h4 class="widget-title">Price</h4>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Free courses
                                </label>
                            </div>

                            <label class="single-checkbox"></label>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Paid Courses
                                </label>
                            </div>

                            <label class="single-checkbox"></label>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Only Subscription
                                </label>
                            </div>
                        </div>

                        <div class="widget widget_checkbox_list">
                            <h4 class="widget-title">Level</h4>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Beginner
                                </label>
                            </div>

                            <label class="single-checkbox"></label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Intermediate
                                </label>
                            </div>

                            <label class="single-checkbox"></label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <label class="form-check-label">
                                    Advanced
                                </label>
                            </div>
                        </div>

                        <div class="widget widget_tags mb-0">
                            <h4 class="widget-title">Tags</h4>
                            <div class="tagcloud">
                                <a href="#">Art</a>
                                <a href="#">Creative</a>
                                <a href="#">Article</a>
                                <a href="#">Designer</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Project</a>
                                <a href="#">Personal</a>
                                <a href="#">Landing</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-8 order-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/images/course/img_3.jpg" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/images/course/course-2.jpg" alt="img"></span>
                                            <span class="align-self-center">Nancy Reyes</span>
                                        </div>
                                        <h6><a routerLink="/course">Fox nymphs grab quick-jived waltz. Brick quiz
                                            whangs</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$54.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/images/course/img_3.jpg" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/2.png" alt="img"></span>
                                            <span class="align-self-center">Joe Powell</span>
                                        </div>
                                        <h6><a routerLink="/course">Aenean sed nibh a magna posuere tempo
                                            faucib</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.3
                                                    <span>(23)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$54.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/images/course/img_3.jpg" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/3.png" alt="img"></span>
                                            <span class="align-self-center">Timothy Willis</span>
                                        </div>
                                        <h6><a routerLink="/course">Praesent eu dolor eu orci vehicula euismod</a>
                                        </h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.9
                                                    <span>(73)</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="price text-right">
                                                    Price: <span>$74.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-course-inner">
                                <div class="thumb">
                                    <img src="assets/images/course/img_3.jpg" alt="img">
                                </div>
                                <div class="details">
                                    <div class="details-inner">
                                        <div class="emt-user">
                                            <span class="u-thumb"><img src="assets/img/author/4.png" alt="img"></span>
                                            <span class="align-self-center">Walter Griffin</span>
                                        </div>
                                        <h6><a routerLink="/course">Duis vestibulum elit vel neque pharetra
                                            vulputate</a></h6>
                                    </div>
                                    <div class="emt-course-meta">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> 4.8
                                                    <span>(53)</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="price text-right">
                                                    Price: <span>$64.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <nav class="td-page-navigation">
                        <ul class="pagination">
                            <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a class="active" href="#">2</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">3</a></li>
                            <li class="pagination-arrow"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>

</section>
