<section class="section-padding">
  <div class="container-fluid container-grid">
      <div class="row justify-content-center">
          <div class="col-xl-8">
              <div class="heading mb-50 text-center">
                  <span class="subheading">Top Categories</span>
                  <h2>Browse Courses By Category</h2>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let category of categories">
              <div class="single-course-category style-2 mb-20">
                  <div class="course-cat-icon">
                  </div>
                  <div class="course-cat-content">
                      <h4 class="course-cat-title">
                          <p class="searchByCategory" (click)="search(category.nom)">{{category.nom}} ({{category.formations.length}})</p>
                      </h4>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
