<div class="wrapper">
  <div class="page-wrapper">
    <div class="page-content">


      <h6 class="mb-0 text-uppercase">Transactions</h6>
      <hr/>
      <div class="row row-cols-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-1">

        <div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Date de la transaction</th>
              <th scope="col">Prix</th>
              <th scope="col">Nom de la formation</th>
              <th scope="col">Date de début</th>
              <th scope="col">Date de fin</th>

            </tr>
            </thead>
            <tbody *ngFor="let trans of transactions">
            <tr >
              <td>{{trans.date}}</td>
              <td>{{trans.valeur}} TND</td>
              <td>{{trans.formation.titre}}</td>
              <td>{{trans.formation.dateDebut}}</td>
              <td>{{trans.formation.dateFin}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!--end row-->



    </div>
  </div>
</div>



