<div class="wrapper">
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col">
                    <div class="card rounded-4 bg-gradient-rainbow bubble position-relative overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <div class="">
                                    <h4 class="mb-0 text-white">1233</h4>
                                    <p class="mb-0 text-white">Courses</p>
                                </div>
                                <div class="fs-1 text-white">
                                    <i class='bx bx-cart'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-burning bubble position-relative overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <div class="">
                                    <h4 class="mb-0 text-white">485</h4>
                                    <p class="mb-0 text-white">Managers</p>
                                </div>
                                <div class="fs-1 text-white">
                                    <i class='bx bx-group'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-cosmic bubble position-relative overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <div class="">
                                    <h4 class="mb-0 text-white">5000</h4>
                                    <p class="mb-0 text-white">Candidates</p>
                                </div>
                                <div class="fs-1 text-white">
                                    <i class='bx bx-group'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-4 bg-gradient-moonlit bubble position-relative overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-0">
                                <div class="">
                                    <h4 class="mb-0 text-white">$24K</h4>
                                    <p class="mb-0 text-white">Total Revenue</p>
                                </div>
                                <div class="fs-1 text-white">
                                    <i class='bx bx-wallet'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-12 col-lg-8 d-flex">
                    <div class="card rounded-4 w-100">
                        <div class="card-body">
                            <div>
                                <h6 class="mb-0">Purchase of subscriptions per month</h6>
                            </div>
                            <div class="chart-container-0">
                                <app-area-charts></app-area-charts>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-flex">
                    <div class="card rounded-4 w-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div>
                                    <h6 class="mb-0">Registrations by category</h6>
                                </div>
                            </div>
                            <div class="chart-container-0">
                                <app-pie-charts></app-pie-charts>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->


            <div class="row">
                <div class="col-12 col-lg-4 d-flex">
                    <div class="card rounded-4 w-100">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0">Courses by Categorie</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="categories-list">
                                <div class="d-flex align-items-center justify-content-between gap-3">
                                    <div class="flex-grow-1">
                                        <p class="mb-2">Mobiles <span class="float-end">75%</span></p>
                                        <div class="progress" style="height: 4px;">
                                            <div class="progress-bar bg-gradient-cosmic" role="progressbar"
                                                 style="width: 75%"></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-flex">
                    <div class="card rounded-4 w-100">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h6 class="mb-0">New Managers</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="new-users-list">
                                <div class="d-flex align-items-center justify-content-between gap-3">
                                    <div class="">
                                        <img src="assets/images/avatars/avatar-1.png" class="rounded-circle" width="45"
                                             height="45" alt="user img">
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0">Benji Harper</h6>
                                        <p class="mb-0 extra-small-font">UI Designer</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 d-flex">
                    <div class="card rounded-4 w-100">
                        <div class="card-body">
                            <ul class="nav nav-pills nav-fill mb-3">
                                <li class="nav-item">
                                    <a class="nav-link rounded-5" data-bs-toggle="pill"
                                       href="#primary-pills-home">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active rounded-5" data-bs-toggle="pill"
                                       href="#primary-pills-profile">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link rounded-5" data-bs-toggle="pill" href="#primary-pills-contact">Today</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade" id="primary-pills-home">
                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                        <div>
                                            <h3 class="mb-0">TND 9845.43</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show active" id="primary-pills-profile">
                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                        <div>
                                            <h3 class="mb-0">TND 45,245.37</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="primary-pills-contact">
                                    <div class="d-flex align-items-center justify-content-center gap-3">
                                        <div>
                                            <h3 class="mb-0">TND 7395.23</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end row-->


            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h6 class="mb-0">Recent Corses</h6>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Course</th>
                                <th>Photo</th>
                                <th>Price</th>
                                <th>Begin date</th>
                                <th>End date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Iphone 5</td>
                                <td><img src="assets/images/products/01.png" class="product-img-2" alt="product img">
                                </td>
                                <td>TND 1250.00</td>
                                <td>03 Feb 2020</td>
                                <td>03 Feb 2020</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
