<section class="page-header" style="background: transparent">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Checkout</h1>
                    <ul class="header-bradcrumb justify-content-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active" aria-current="page">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout start -->
<main class="site-main woocommerce single single-product page-wrapper">
    <!--shop category start-->
    <section class="space-3">
        <div class="container">
            <div class="row">
                <section id="primary" class="content-area col-lg-12">
                    <article id="post-8" class="post-8 page type-page status-publish hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <form name="checkout" method="post" class="checkout woocommerce-checkout row" action="#"
                                      enctype="multipart/form-data" novalidate="novalidate">
                                    <div class="col-lg-7 col-xl-7">
                                        <div class="col2-set" id="customer_details">
                                            <div class="col-12">
                                                <div class="woocommerce-billing-fields">
                                                    <h3>Your Contact</h3>

                                                    <div class="woocommerce-billing-fields__field-wrapper">
                                                        <p class="form-row form-row-first form-group validate-required"
                                                           id="billing_first_name_field" data-priority="10">
                                                            <label for="billing_first_name" class="control-label">First
                                                                name&nbsp;<abbr class="required"
                                                                                title="required"></abbr></label>
                                                            <span class="woocommerce-input-wrapper">
                                                                <input type="text"
                                                                       class="input-text form-control input-lg"
                                                                       name="nom" id="billing_first_name"
                                                                       placeholder=""
                                                                       autocomplete="given-name"
                                                                       minlength="3"
                                                                       #firstName="ngModel"
                                                                       [class.is-invalid]="firstName.invalid && firstName.touched"
                                                                       required
                                                                       [(ngModel)]="manager.nom">
                                                                <div *ngIf="firstName.errors && firstName.touched">
                                                                    <small class="text-danger"
                                                                           *ngIf="firstName.errors['minlength']">at least 3characters</small>
                                                                    <small class="text-danger"
                                                                           *ngIf="firstName.errors['required']">first name isrequired</small>
                                                                </div>
                                                            </span>
                                                        </p>
                                                        <p class="form-row form-row-last form-group validate-required"
                                                           id="billing_last_name_field" data-priority="20">
                                                            <label for="billing_last_name" class="control-label">
                                                                Last name&nbsp;<abbr class="required"
                                                                                     title="required"></abbr>
                                                            </label>
                                                            <span class="woocommerce-input-wrapper">
                                                                <input type="text"
                                                                       class="input-text form-control input-lg"
                                                                       name="prenom" id="billing_last_name"
                                                                       placeholder=""
                                                                       autocomplete="family-name"
                                                                       #lastName="ngModel"
                                                                       [class.is-invalid]="lastName.invalid && lastName.touched"
                                                                       required
                                                                       [(ngModel)]="manager.prenom">
                                                                 <div *ngIf="lastName.errors && lastName.touched">
                                                                     <small class="text-danger"
                                                                            *ngIf="lastName.errors['minlength']">at least 3characters</small>
                                                                     <small class="text-danger"
                                                                            *ngIf="lastName.errors['required']">last name isrequired</small>
                                                                 </div>
                                                            </span>
                                                        </p>
                                                        <p class="form-row form-row-wide form-group"
                                                           id="billing_company_field" data-priority="30">
                                                            <label for="billing_company" class="control-label">Phone
                                                                number&nbsp;<span class="required"></span></label>
                                                            <span class="woocommerce-input-wrapper">
                                                                <input type="tel"
                                                                       class="input-text form-control input-lg"
                                                                       name="tel"
                                                                       id="billing_company" placeholder=""
                                                                       [(ngModel)]="manager.tel"
                                                                       pattern="[- +()0-9]+"
                                                                       minlength="8"
                                                                       maxlength="8"
                                                                       #tel="ngModel"
                                                                       [class.is-invalid]="tel.invalid && tel.touched"
                                                                       required>
                                                                <div *ngIf="tel.errors && tel.touched">
                                                                    <small class="text-danger"
                                                                           *ngIf="tel.errors['required']">phone number isrequired</small>
                                                                    <small class="text-danger"
                                                                           *ngIf="tel.errors['pattern'] || tel.errors['minlength'] || tel.errors['maxlength']">invalid
                                                                        phone number</small>
                                                                </div>
                                                            </span>
                                                        </p>

                                                        <p class="form-row form-row-wide form-group"
                                                           id="billing_company_field1" data-priority="30">
                                                            <label for="billing_company" class="control-label">Email&nbsp;<span
                                                                    class="required"></span></label>
                                                            <span class="woocommerce-input-wrapper">
                                                                <input type="text"
                                                                       class="input-text form-control input-lg"
                                                                       name="email"
                                                                       id="billing_company1"
                                                                       placeholder=""
                                                                       disabled
                                                                       [(ngModel)]="manager.email">
                                                            </span>
                                                        </p>

                                                        <p class="form-row form-row-wide form-group"
                                                           id="billing_companyy" data-priority="30">
                                                            <label for="billing_companyy" class="control-label">Training
                                                                center&nbsp;<span
                                                                        class="required"></span></label>
                                                            <span class="woocommerce-input-wrapper">
                                                                <select type="text"
                                                                        class="input-text form-control input-lg"
                                                                        name="center"
                                                                        id="billing_companyy"
                                                                        placeholder="" required
                                                                        [(ngModel)]="center"
                                                                        #centre="ngModel"
                                                                        [class.is-invalid]="centre.invalid && centre.touched">
                                                                    <option selected value=""
                                                                            disabled>choose a center</option>
                                                                    <ng-container *ngFor="let center of centers">
                                                                        <option [value]="center.id" *ngIf="!center.abonnement.valide">{{center.nom | uppercase}}</option>
                                                                    </ng-container>
                                                                </select>
                                                            </span>
                                                        </p>
                                                        <div class="mb-3" *ngIf="centre.errors && centre.touched">
                                                            <small class="text-danger"
                                                                   *ngIf="centre.errors['required']">you
                                                                have to
                                                                choose a
                                                                center</small>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-xl-5">
                                        <div id="order_review" class="woocommerce-checkout-review-order">
                                            <h3 id="order_review_heading">Your order</h3>
                                            <table class="shop_table woocommerce-checkout-review-order-table">
                                                <thead>
                                                <tr>
                                                    <th class="product-name">Subscription</th>
                                                    <th class="product-total">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="cart_item">
                                                    <td class="product-name">
                                                        {{data.type}}&nbsp;
                                                    </td>
                                                    <td class="product-total">
                                                        <span class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">TND&nbsp;</span>{{data.prix}}
                                                            / <b>{{data.duree}}</b></span>
                                                    </td>
                                                </tr>

                                                </tbody>
                                                <tfoot>

                                                <tr class="cart-subtotal">
                                                    <th>Offer</th>
                                                    <td><span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol">TND</span>{{data.prix}}</span>
                                                    </td>
                                                </tr>

                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td><strong><span class="woocommerce-Price-amount amount"><span
                                                            class="woocommerce-Price-currencySymbol">TND&nbsp;</span>{{data.prix}}</span></strong>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                            <div id="payment" class="woocommerce-checkout-payment">
                                                <ul class="wc_payment_methods payment_methods methods">
                                                    <li class="wc_payment_method payment_method_cod">
                                                        <input id="payment_method_cod" type="radio" class="input-radio"
                                                               name="payment_method" value="cod" checked="checked"
                                                               data-order_button_text="" style="display: none;">
                                                    </li>
                                                </ul>
                                                <div class="form-row place-order">
                                                    <noscript>
                                                        Since your browser does not support JavaScript, or it is
                                                        disabled, please ensure you click the <em>Update Totals</em>
                                                        button before placing your order. You may be charged more than
                                                        the amount stated above if you fail to do so. <br/>
                                                        <button type="submit" class="button alt"
                                                                name="woocommerce_checkout_update_totals"
                                                                value="Update totals">Update totals
                                                        </button>
                                                    </noscript>

                                                    <div class="woocommerce-terms-and-conditions-wrapper">
                                                        <div class="woocommerce-privacy-policy-text"><p>Your personal
                                                            data will be used to process your order, support your
                                                            experience throughout this website, and for other purposes
                                                            described in our <a href="#"
                                                                                class="woocommerce-privacy-policy-link"
                                                                                target="_blank">privacy policy</a>.</p>
                                                        </div>
                                                    </div>

                                                    <button type="submit" class="button alt"
                                                            [disabled]="disableButton || centre.errors || firstName.errors || lastName.errors || tel.errors"
                                                            (click)="buy()"
                                                            name="woocommerce_checkout_place_order" id="place_order"
                                                            value="Place order" data-value="Place order"
                                                    >Place order
                                                    </button>
                                                    <input type="hidden" id="woocommerce-process-checkout-nonce"
                                                           name="woocommerce-process-checkout-nonce" value="c75f934b1d"><input
                                                        type="hidden" name="_wp_http_referer"
                                                        value="/?wc-ajax=update_order_review"></div>
                                            </div>

                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div><!-- .entry-content -->

                    </article><!-- #post-## -->

                </section>
            </div>
        </div>
    </section>
    <!--shop category end-->
</main>
