<div class="wrapper">
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">User Profile</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">User Profilep</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="container">
                <div *ngIf="userRole == 'CANDIDAT'" class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img *ngIf="candidat.img == null && imageUrl == ''" src="assets/imgProfile.jpg"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150" alt=" ">

                                        <img *ngIf="candidat.img != null && imageUrl == ''"
                                             src="assets/user-photos/{{candidat.img}}"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150" alt=" ">

                                        <img [src]="imageUrl" *ngIf="imageUrl!=''"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150">


                                        <div class="mt-3">
                                            <h4>{{candidat.nom}} {{candidat.prenom}}</h4>
                                            <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                                             <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                             <button class="btn btn-primary">Follow</button>-->


                                            <label class="lab">
                                                <input class="inputTag" type="file" required name="image"
                                                       accept="image/*"
                                                       (change)="onFileSelected($event)">
                                                <a class="btn btn-outline-primary">Change Photo</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">First Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="lastName" minlength="3"
                                                   #lastName="ngModel"
                                                   [class.is-invalid]="lastName.invalid && lastName.touched"
                                                   [(ngModel)]="candidat.nom"
                                                   required>

                                            <div *ngIf="lastName.errors && lastName.touched">
                                                <small class="text-danger" *ngIf="lastName.errors['minlength']">at least
                                                    3
                                                    characters</small>
                                                <small class="text-danger" *ngIf="lastName.errors['required']">lastName
                                                    is
                                                    required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Last Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="name" minlength="3"
                                                   #name="ngModel"
                                                   [class.is-invalid]="name.invalid && name.touched"
                                                   [(ngModel)]="candidat.prenom"
                                                   required>

                                            <div *ngIf="name.errors && name.touched">
                                                <small class="text-danger" *ngIf="name.errors['minlength']">at least 3
                                                    characters</small>
                                                <small class="text-danger" *ngIf="name.errors['required']">first name is
                                                    required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="email" class="form-control" name="email"
                                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel"
                                                   [class.is-invalid]="email.invalid && email.touched"
                                                   [(ngModel)]="candidat.email"
                                                   required
                                                   (ngModelChange)="getUserByEmail()">

                                            <div *ngIf="email.errors && email.touched">
                                                <small class="text-danger" *ngIf="email.errors['required']">email is
                                                    required</small>
                                                <small class="text-danger" *ngIf="email.errors['pattern']">invalid
                                                    email</small>
                                            </div>
                                            <div *ngIf="email.touched || emailExists">
                                                <small class="text-danger" *ngIf="emailExists">
                                                    email already used</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="tel" class="form-control" name="tel"
                                                   pattern="[- +()0-9]+"
                                                   minlength="8"
                                                   maxlength="8"
                                                   #tel="ngModel"
                                                   [class.is-invalid]="tel.invalid && tel.touched"
                                                   [(ngModel)]="candidat.tel"
                                                   required>

                                            <div *ngIf="tel.errors && tel.touched">
                                                <small class="text-danger" *ngIf="tel.errors['required']">phone number
                                                    is
                                                    required</small>
                                                <small class="text-danger"
                                                       *ngIf="tel.errors['pattern'] || tel.errors['minlength'] || tel.errors['maxlength']">invalid
                                                    phone number</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9 text-secondary">
                                            <button class="btn btn-outline-primary"
                                                    [disabled]="name.errors || lastName.errors || email.errors || tel.errors || emailExists"
                                                    (click)="updateUser()">
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                              <div class="col-sm-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="d-flex align-items-center mb-3">Project Status</h5>
                                    <p>Web Design</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Website Markup</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>One Page</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Mobile Template</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Backend API</p>
                                    <div class="progress" style="height: 5px">
                                      <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>-->
                        </div>
                    </div>
                </div>


                <div *ngIf="userRole == 'MANAGER'" class="main-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <img *ngIf="manager.img == null && imageUrl == ''" src="assets/imgProfile.jpg"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150" alt=" ">

                                        <img *ngIf="manager.img != null && imageUrl == ''"
                                             src="assets/user-photos/{{manager.img}}"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150" alt=" ">

                                        <img [src]="imageUrl" *ngIf="imageUrl!=''"
                                             class="rounded-circle p-1 bg-primary" width="150" height="150">


                                        <div class="mt-3">
                                            <h4>{{manager.nom}} {{manager.prenom}}</h4>
                                            <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                                             <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                             <button class="btn btn-primary">Follow</button>-->


                                            <label class="lab">
                                                <input class="inputTag" type="file" required name="image"
                                                       accept="image/*"
                                                       (change)="onFileSelected($event)">
                                                <a class="btn btn-outline-primary">Change Photo</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">First Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="firstName" minlength="3"
                                                   #firstName="ngModel"
                                                   [class.is-invalid]="firstName.invalid && firstName.touched"
                                                   [(ngModel)]="manager.prenom"
                                                   required>
                                            <div *ngIf="firstName.errors && firstName.touched">
                                                <small class="text-danger" *ngIf="firstName.errors['minlength']">at
                                                    least 3
                                                    characters</small>
                                                <small class="text-danger" *ngIf="firstName.errors['required']">first
                                                    name is
                                                    required</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Last Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="text" class="form-control" name="lastName" minlength="3"
                                                   #lastName="ngModel"
                                                   [class.is-invalid]="lastName.invalid && lastName.touched"
                                                   [(ngModel)]="manager.nom"
                                                   required>

                                            <div *ngIf="lastName.errors && lastName.touched">
                                                <small class="text-danger" *ngIf="lastName.errors['minlength']">at least
                                                    3
                                                    characters</small>
                                                <small class="text-danger" *ngIf="lastName.errors['required']">last name
                                                    is
                                                    required</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="email" class="form-control" name="email"
                                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel"
                                                   [class.is-invalid]="email.invalid && email.touched"
                                                   [(ngModel)]="manager.email"
                                                   required
                                                   (ngModelChange)="getUserByEmail()">

                                            <div *ngIf="email.errors && email.touched">
                                                <small class="text-danger" *ngIf="email.errors['required']">email is
                                                    required</small>
                                                <small class="text-danger" *ngIf="email.errors['pattern']">invalid
                                                    email</small>
                                            </div>
                                            <div *ngIf="email.touched || emailExists">
                                                <small class="text-danger" *ngIf="emailExists">
                                                    email already used</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            <input type="tel" class="form-control" name="tel"
                                                   pattern="[- +()0-9]+"
                                                   minlength="8"
                                                   maxlength="8"
                                                   #tel="ngModel"
                                                   [class.is-invalid]="tel.invalid && tel.touched"
                                                   [(ngModel)]="manager.tel"
                                                   required>

                                            <div *ngIf="tel.errors && tel.touched">
                                                <small class="text-danger" *ngIf="tel.errors['required']">phone number
                                                    is
                                                    required</small>
                                                <small class="text-danger"
                                                       *ngIf="tel.errors['pattern'] || tel.errors['minlength'] || tel.errors['maxlength']">invalid
                                                    phone number</small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9 text-secondary">
                                            <button class="btn btn-outline-primary"
                                                    (click)="updateUser()"
                                                    [disabled]="firstName.errors || lastName.errors || email.errors || tel.errors || emailExists">
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                              <div class="col-sm-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="d-flex align-items-center mb-3">Project Status</h5>
                                    <p>Web Design</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Website Markup</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>One Page</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Mobile Template</p>
                                    <div class="progress mb-3" style="height: 5px">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Backend API</p>
                                    <div class="progress" style="height: 5px">
                                      <div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
