<div class="wrapper">
    <div class="page-wrapper">
        <div class="page-content">
            <div>
                <div class="card">
                    <div class="card-body p-4">

                        <div class="col-xl-6">
                            <h4 class="form-label">Add New Training Center</h4>
                        </div>
                        <hr/>

                        <div class="row m-3">
                            <div class="col-xl-6">
                                <p><label>Name&nbsp;<span class="required">*</span></label></p>
                                <input type="text" class="form-control" name="name" minlength="3"
                                       #name="ngModel"
                                       [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="center.nom"
                                       required>

                                <div *ngIf="name.errors && name.touched">
                                    <small class="text-danger" *ngIf="name.errors['minlength']">at least 3
                                        characters</small>
                                    <small class="text-danger" *ngIf="name.errors['required']">name is
                                        required</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Tax identification number&nbsp;<span class="required">*</span></label></p>
                                <input type="text" class="form-control" name="taxIdentificationNumber"
                                       #taxIdentificationNumber="ngModel"
                                       [class.is-invalid]="taxIdentificationNumber.invalid && taxIdentificationNumber.touched"
                                       [(ngModel)]="center.matriculeFiscal"
                                       required>

                                <div *ngIf="taxIdentificationNumber.errors && taxIdentificationNumber.touched">
                                    <small class="text-danger" *ngIf="taxIdentificationNumber.errors['required']">tax
                                        identification number is
                                        required</small>
                                </div>
                            </div>


                            <div class="col-xl-6">
                                <p><label>Phone number&nbsp;<span class="required">*</span></label></p>
                                <input type="tel" class="form-control" name="tel"
                                       pattern="[- +()0-9]+"
                                       minlength="8"
                                       maxlength="8"
                                       #centerTel="ngModel"
                                       [class.is-invalid]="centerTel.invalid && centerTel.touched"
                                       [(ngModel)]="center.tel"
                                       required>

                                <div *ngIf="centerTel.errors && centerTel.touched">
                                    <small class="text-danger" *ngIf="centerTel.errors['required']">phone number is
                                        required</small>
                                    <small class="text-danger"
                                           *ngIf="centerTel.errors['pattern'] || centerTel.errors['minlength'] || centerTel.errors['maxlength']">invalid
                                        phone number</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Email&nbsp;<span class="required">*</span></label></p>
                                <input type="email" class="form-control" name="email"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #centerEmail="ngModel"
                                       [class.is-invalid]="centerEmail.invalid && centerEmail.touched"
                                       [(ngModel)]="center.email"
                                       required>

                                <div *ngIf="centerEmail.errors && centerEmail.touched">
                                    <small class="text-danger" *ngIf="centerEmail.errors['required']">email is
                                        required</small>
                                    <small class="text-danger" *ngIf="centerEmail.errors['pattern']">invalid
                                        email</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Address&nbsp;<span class="required">*</span></label></p>
                                <input type="text" class="form-control" name="address" minlength="3"
                                       #centerAddress="ngModel"
                                       [class.is-invalid]="centerAddress.invalid && centerAddress.touched"
                                       [(ngModel)]="center.adresse"
                                       required>

                                <div *ngIf="centerAddress.errors && centerAddress.touched">
                                    <small class="text-danger" *ngIf="centerAddress.errors['minlength']">at least 3
                                        characters</small>
                                    <small class="text-danger" *ngIf="centerAddress.errors['required']">address is
                                        required</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Creation date&nbsp;<span class="required">*</span></label></p>
                                <input type="date" class="form-control" name="dateOfBirth"
                                       #creationDate="ngModel"
                                       [class.is-invalid]="creationDate.invalid && creationDate.touched"
                                       [(ngModel)]="center.dateCreation"
                                       required>

                                <div *ngIf="creationDate.errors && creationDate.touched">
                                    <small class="text-danger" *ngIf="creationDate.errors['required']">creation date is
                                        required</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Categorie&nbsp;<span class="required">*</span></label></p>
                                <select id="center" class="form-control"
                                        name="categorie"
                                        #categorie="ngModel"
                                        [class.is-invalid]="categorie.invalid && categorie.touched"
                                        ngModel
                                        required
                                        [(ngModel)]="categoryId">
                                    <option selected value="">choose a category</option>
                                    <option *ngFor="let category of categories"
                                            [value]="category.id">{{category.nom}}</option>
                                </select>
                                <div *ngIf="categorie.errors && categorie.touched">
                                    <small class="text-danger" *ngIf="categorie.errors['required']">category is
                                        required</small>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <p><label>Logo&nbsp;<span class="required">*</span></label></p>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile"
                                           style="cursor: pointer"
                                           name="logo"
                                           #logo="ngModel"
                                           ngModel
                                           [class.is-invalid]="logo.invalid && logo.touched"
                                           accept="image/*"
                                           required
                                           (change)="onFileSelected($event)">
                                    <label class="custom-file-label" for="customFile" style="cursor: pointer">Choose
                                        file</label>
                                </div>
                                <div *ngIf="logo.errors && logo.touched">
                                    <small class="text-danger" *ngIf="logo.errors['required']">logo is
                                        required</small>
                                </div>
                            </div>

                            <div class="col">
                                <p><label>Description&nbsp;<span class="required">*</span></label></p>
                                <textarea class="form-control" name="description"
                                          #description="ngModel"
                                          [class.is-invalid]="description.invalid && description.touched"
                                          [(ngModel)]="center.description"
                                          required></textarea>

                                <div *ngIf="description.errors && description.touched">
                                    <small class="text-danger" *ngIf="description.errors['required']">description is
                                        required</small>
                                </div>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: right">
                            <button style="background-color: #0075d4; color: white" class="btn"
                                    (click)="addCenter()"
                                    [disabled]="disableAddButton || name.errors || taxIdentificationNumber.errors || centerTel.errors || centerEmail.errors || centerAddress.errors || creationDate.errors || categorie.errors || logo.errors || description.errors">
                                Save Training Center
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row" *ngFor="let center of centers">
                        <div class="card">
                            <i style="position: absolute;font-size: 30px; color: #008bfe;margin: 0; cursor: pointer"
                               class='bx bxs-edit' matTooltip="Edit" (click)="openEditPge(center)"></i>
                            <div class="card-header">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/trainingCenter-photos/{{center.logo}}"
                                             style="width: 80px; height: 80px; border-radius: 50%; margin-right: 20px"
                                             alt=" ">
                                        <h3>{{center.nom}}</h3>
                                    </div>
                                    <span *ngIf="center.etatDemandeInscription == 'EN_ATTENTE'" matTooltip="Waiting for confirmation!"
                                          style="color: #fd9800;font-size: 50px; font-weight: bold" class="material-symbols-outlined">error</span>

                                   <div class="d-flex align-items-center" *ngIf="center.etatDemandeInscription == 'ACCEPTER'">
                                       <h5 *ngIf="center.abonnement.end" [ngStyle]="{ color: center.abonnement.valide ? 'green' : '#F04D5DFF' }">End of subscription: {{center.abonnement.end | date: 'dd-MM-yy'}}</h5>
                                       <span routerLink="/pricing" *ngIf="center.etatDemandeInscription == 'ACCEPTER' && center.abonnement.valide == false" matTooltip="Buy subscription!"
                                             style="color: #f04d5d;font-size: 50px; font-weight: bold; margin-left:5px" class="material-symbols-outlined cursor-pointer">error</span>
                                   </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <h1 *ngIf="center.formations.length == 0 && center.etatDemandeInscription == 'ACCEPTER'">0 Training</h1>
                                        <div class="row" *ngIf="center.formations.length != 0">
                                            <div class="course-item cat1 cat5 col-lg-3 col-md-6 col-sm-6"
                                                 *ngFor="let course of center.formations">
                                                <div class=" course-style-5 bg-white">
                                                    <div class="course-header">
                                                        <div class="course-thumb">
                                                            <img src="assets/training-photos/{{course.img}}" alt=""
                                                                 class="img-fluid">
                                                            <div class="course-price">{{course.prix}} TND</div>
                                                        </div>
                                                    </div>
                                                    <div class="course-content">
                                                        <div class="course-meta meta-style-1">
                                            <span class="lessons"><i
                                                    class="far fa-play-circle me-2"></i>26 Lectures</span>
                                                            <span class="label">Beginner</span>
                                                        </div>
                                                        <h4><a href="#">{{course.titre}}</a></h4>

                                                        <div class="course-footer mt-20 d-flex align-items-center justify-content-between">
                                            <span class="students"><i
                                                    class="far fa-user-alt me-2"></i>{{course.nbMaxCan}} Students</span>
                                                            <a class="rounded-btn"><i
                                                                    class="fa fa-long-arrow-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

